{% extends 'base.html.twig' %}


{% block header %}
<div class="row d-flex justify-content-center">
    <div class="col-6 d-flex flex-column align-items-center">
            <h1>Contactez-nous</h1>
            <p class="jumbotron">
            Vous avez une question ? N'hesitez pas à nous contacter directement. Notre équipe se fera un plaisir de vous aider.
            </p>
    </div>
</div>
{% endblock header %}

{% block body %}

<section>

<form action="" class="row d-flex justify-content-center">
    <div class="col-6">
        <input type="text" class="form-control mb-2" placeholder="Nom...">
        <input type="text" class="form-control mb-2" placeholder="Prénom...">
        <input type="text" class="form-control mb-2" placeholder="Email...">
        <input type="text" class="form-control mb-2" placeholder="Sujet">
        <textarea name="" class="form-control mb-2" id=""></textarea>
        <button class="btn btn-primary">Envoyer</button>
    </div>
</form>

</section>

{% endblock %}
