<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "partials/_navbar.html.twig" %}
        <header class="my-5">
            {% block header %}
            {% endblock header %}
        </header>
        <main class="container-fluid">
            <div class="row mt-5">
                <div class="col-10">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="col-2">
                    {{ render(controller('App\\Controller\\DefaultController::bestSale'))}}
                </div>
            </div>
        </main>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
