{% extends 'base.html.twig' %}

{% block title %}Backoffice - Editer un produit{% endblock %}

{% block body %}
    <h1>Editer un produit</h1>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
