{% extends 'base.html.twig' %}

{% block title %}Backoffice - Ajouter un nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">Retour à la liste des produits</a>
{% endblock %}
